.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
terraform.tfvars
/.terraform/providers/registry.terraform.io/mongodb/mongodbatlas/1.4.6/windows_amd64/CHANGELOG.md
/.terraform/providers/registry.terraform.io/mongodb/mongodbatlas/1.4.6/windows_amd64/LICENSE
/.terraform/providers/registry.terraform.io/mongodb/mongodbatlas/1.4.6/windows_amd64/README.md
/.terraform/providers/registry.terraform.io/mongodb/mongodbatlas/1.4.6/windows_amd64/terraform-provider-mongodbatlas_v1.4.6.exe
